<div class="testimony-page">
    <h3 class="testimony-title">TESTIMONIOS</h3>

    <div class="section">
        <app-testimonial class="individual-testimony"></app-testimonial>
        <app-testimonial class="individual-testimony"></app-testimonial>
        <app-testimonial class="individual-testimony"></app-testimonial>
        <app-testimonial class="individual-testimony"></app-testimonial>
        <app-testimonial class="individual-testimony"></app-testimonial>
        <app-testimonial class="individual-testimony"></app-testimonial>
        <app-testimonial class="individual-testimony"></app-testimonial>
        <app-testimonial class="individual-testimony"></app-testimonial>
        <app-testimonial class="individual-testimony"></app-testimonial>
    </div>
</div>