<section class="container">
  <nav class="nav flex-column">
    <a class="nav-link" routerLink="organigrama" routerLinkActive="nav-active" > <span class="nav-text"> Organigrama</span> <i class="fa-solid fa-sitemap"></i></a>
    <a class="nav-link" routerLink="miembros" routerLinkActive="nav-active"> <span class="nav-text"> Miembros</span> <i class="fa-solid fa-people-group"></i></a>
    <a class="nav-link" routerLink="estrategias" routerLinkActive="nav-active"> <span class="nav-text"> Estrategias</span> <i class="fa-solid fa-bullseye"></i></a>
    <a class="nav-link" routerLink="proyectos" routerLinkActive="nav-active"> <span class="nav-text"> Proyectos</span> <i class="fa-solid fa-diagram-project"></i></a>
  </nav>
</section>
