<p>Miembros del area de {{areaUrl}}!</p>
<section>
    <app-member ></app-member>
    <app-member ></app-member>
    <app-member ></app-member>
    <app-member ></app-member>
    <app-member ></app-member>
    <app-member ></app-member>
    <app-member ></app-member>
    <app-member ></app-member>
    <app-member ></app-member>
    <app-member ></app-member>
    <app-member ></app-member>
    <app-member ></app-member>
    <app-member ></app-member>
    <app-member ></app-member>
    <app-member ></app-member>
    <app-member ></app-member>
    <app-member ></app-member>
    <app-member ></app-member>
    <app-member ></app-member>
    <app-member ></app-member>
    <app-member ></app-member>
    <app-member ></app-member>
    <app-member ></app-member>
    <app-member ></app-member>
    <app-member ></app-member>
    <app-member ></app-member>
    <app-member ></app-member>

</section>
