<p>Miembros del area de {{areaUrl}}!</p>
<p>Nombre : {{nombre}} </p>
<section>
    <app-member ></app-member>
    <app-member ></app-member>
    <app-member ></app-member>
    <app-member ></app-member>
    <app-member ></app-member>
    <app-member ></app-member>
    <app-member ></app-member>
    <app-member ></app-member>
    <app-member ></app-member>
    <app-member ></app-member>
    <app-member ></app-member>
    <app-member ></app-member>
    <app-member ></app-member>
    <app-member ></app-member>
    <app-member ></app-member>
</section>
