<section>
    <div class="row">
        <div class="main-card">
            <div class="main-card-content">
                <div class="card-content">
                    <div class="date-container-inside-card">
                                <p class="date">28-05-2023</p>
                    </div>
                    <hr class="hr-card">
                            
                    <div class="d-flex align-items-center">
                        <div class="circular-image">
                            <img class="perfil_imagen" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/256492/_mLIxaKY_400x400.jpg" alt="Profile Image">
                        </div>
                        
                        <div class="card-info">
                            <h3 class="card-title">Roger Ramirez</h3>
                            <h4 class="card-description">Ex presidente de Núcleo</h4>
                            <p class="card-text">“Núcleo me sirvió para volverme millonario vendiendo mis rifas, gaaaaaa”</p>
                            <i class="fa fa-quote-left"></i>
                        </div>
                    </div>

                    <div class="personal-info">
                        <a class="card-link linkedin" href="https://www.linkedin.com/in/roger-ramirez-ramirez/">
                            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                        </a>

                        <a class="card-link github" href="">
                            <i class="fa fa-github-square" aria-hidden="true"></i>
                        </a>

                        <a class="card-link youtube" href="https://www.facebook.com/roger.ramirez.7186">
                            <i class="fa fa-youtube-square" aria-hidden="true"></i>
                        </a>
                    </div>

                    <div class="color-rectangles">
                        <div class="rectangle color1"></div>
                        <div class="rectangle color2"></div>
                        <div class="rectangle color3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>