<Section class="section">
    <p>estrategias del area {{areaUrl}} </p>
    <h3>Objetivos</h3>
    <div class="container">
        <ul>
            <li>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga cupiditate nisi nam iure exercitationem est. Repellendus tempore iusto fuga rem.
            </li>
            <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse fuga debitis provident beatae dolores non consequuntur quas ab delectus? Exercitationem!
            </li>
            <li>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum reprehenderit velit eveniet, tempore voluptate repellendus fuga mollitia temporibus quasi obcaecati!
            </li>
        </ul>
    </div>
    <h3>Misión</h3>
    <div class="container">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate quibusdam ut animi nulla iure quis doloremque adipisci commodi? Quisquam, perspiciatis ab dolorem commodi repudiandae aliquid mollitia at voluptatibus voluptas repellendus.</p>
    </div>
    <h3>Visión</h3>
    <div class="container">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptatem, enim blanditiis corrupti inventore officiis temporibus cumque magnam nihil deserunt quis ut dignissimos, excepturi sunt laborum! Reiciendis consequatur inventore mollitia?</p>
    </div>
</Section>
