<section class="activity-container">
    <div class="activity">
        <div class="img-container">
            <img src="./assets/images/activity.jpg" alt="">

        </div>
        <div class="data-container">
            <div class="data">
                <p class="data">Evento - Webinar</p>
                <p class="data">Jonatan Chino</p>
                <p class="data date"><i class="fa-solid fa-calendar-days"></i> 17/08/2023</p>
            </div>
            <div class="buttons">
                <button class="btn btn-more">Ver más</button>
                <p class="btn btn-active">Activo</p>
            </div>
        </div>
    </div>
</section>
