.card-container {
    display: flex;
    justify-content: center;
}

.card {
    width: 400px;
    height: 300px;
    perspective: 10px;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform 0.8s ease-in-out;
    border: none;
}
  
.flipped:hover {
    transform: rotateY(180deg);
}
  
.front, .back {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 10px;
}
  
.front {
    background: var(--light-color-1)
}
  
.back {
    background-color: var(--light-color-3);
    transform: rotateY(180deg);
}
  