<section>
    <app-activity class="activity"></app-activity>
    <app-activity class="activity"></app-activity>
    <app-activity class="activity"></app-activity>
    <app-activity class="activity"></app-activity>
    <app-activity class="activity"></app-activity>
    <app-activity class="activity"></app-activity>
    <app-activity class="activity"></app-activity>
    <app-activity class="activity"></app-activity>
    <app-activity class="activity"></app-activity>
    <app-activity class="activity"></app-activity>
    <app-activity class="activity"></app-activity>
    <app-activity class="activity"></app-activity>
    <app-activity class="activity"></app-activity>
    <app-activity class="activity"></app-activity>
    <app-activity class="activity"></app-activity>
    <app-activity class="activity"></app-activity>
    <app-activity class="activity"></app-activity>
    <app-activity class="activity"></app-activity>
    <app-activity class="activity"></app-activity>

</section>


