section{
    margin: 50px;
    display: grid;
    justify-content: center;
    gap: 30px;
    @media (min-width: 800px){
        grid-template-columns: 1fr 1fr;
        .activity{
            margin-left: auto;
            margin-right: auto;
        }
    }
    @media (min-width: 1200px){
        grid-template-columns: 1fr 1fr 1fr;
    }
    @media (min-width: 1400px){
        margin-left: 10%;
        margin-right: 10%;
    }
}