<div class="member-area">
    <div class="member">
        <main>
            <div>
                <section>          
                    <content class="profile-image">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/256492/_mLIxaKY_400x400.jpg" alt="Profile Image">
                    </content>
        
                    <content class="cargo">
                        <h1>CARGO</h1>
                    </content>
                </section>
            </div>
        </main>
    
        <div class="modal" id="myModal">
            <div class="modal-content">
                <div class="image">
                    <div class="image-container">
                        <img src="https://e7.pngegg.com/pngimages/646/324/png-clipart-github-computer-icons-github-logo-monochrome-thumbnail.png" alt="Modal Image">
                    </div>
                
                    <div class="images-aside">
                        <img src="https://e7.pngegg.com/pngimages/646/324/png-clipart-github-computer-icons-github-logo-monochrome-thumbnail.png" alt="Small Image 1">
                        <img src="https://e7.pngegg.com/pngimages/646/324/png-clipart-github-computer-icons-github-logo-monochrome-thumbnail.png" alt="Small Image 2">
                        <img src="https://e7.pngegg.com/pngimages/646/324/png-clipart-github-computer-icons-github-logo-monochrome-thumbnail.png" alt="Small Image 3">
                    </div>
                </div> 
            
                <div class="profile-info">
                    <h3>Nombre1 Nombre2</h3>
                    <h3>Apellido1 Apellido2</h3>
                    <hr>
                    <p>Project intern, Ex-presidente</p>
                    <p>Nucleo, 8vo ciclo, Ingeniería</p>
                    <p>Industrial, Mentor, Curioso del mundo</p>
                </div>
                <button class="modal_close">Cerrar</button>
            </div>
        </div>
    </div>
</div>
  