<section class="member-section">
    <div class="member">
        <div data-bs-toggle="modal" data-bs-target="#exampleModal" class="perfil">
            <div class="perfil_imagen-container">
                <img class="perfil_imagen" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/256492/_mLIxaKY_400x400.jpg" alt="Profile Image">
            </div>
            <div class="job_title">
                <h3>Cargo</h3>
            </div>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="header">
                        <div class="perfil">
                            <div class="perfil_imagen-container">
                                <img class="perfil_imagen" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/256492/_mLIxaKY_400x400.jpg" alt="Profile Image" >
                            </div>
                            <div  class="job_title">
                                <h3>Cargo</h3>
                            </div>
                        </div>
                        <div class="icons">
                            <img src="./assets/images/nucleo.jpeg" alt="">
                            <div class="social">
                                <i class="fa-brands fa-linkedin"></i>
                                <i class="fa-brands fa-github"></i>
                                <i class="fa-brands fa-facebook"></i>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <h4>Juanito Segismundo</h4>
                        <h4>Alcachofa Matsumoto</h4>
                        <hr>
                        <p>
                            Project intern, Ex-presidente de Nucleo, 8vo ciclo, Ingeniería Industrial, Mentor, Curioso del mundo
                        </p>
                    </div>
                    <button type="button" class="btn" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</section>